<h1>Подтвердите свою почту пожалуйста</h1>

<form action="/confirm/time">
    <div class="input-field">
        <input id="email" name="email" type="email" class="validate" required value="{{user.email}}">
        <span class="helper-text" data-error="Имя не может быть пустым"></span>
    </div>
    <button class="btn btn-primary">Подтвердить</button>
</form>